@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

:root {
    --color1: #0065FC;
    --color2: #DEEBFF;
    --color3: #D9D9D9;
}

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1em;
}

/* Debut du Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0065FC; */
}

.logo-site {
    width: 100px;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

nav a {
    margin-right: 15px;
}

nav a:hover {
    border-top: 2px solid var(--color1);
}

/* Fin de stylisation du Header */
section h1 {
    font-size: 1.375em;
}

.search {
    display: inline-flex;
    border: 1px solid var(--color3);
    border-radius: 12px;

}

.search>* {
    padding: 10px;
    border: none;
}

.icon-map {
    background-color: var(--color3);
    border-radius: 12px 0 0 12px;
    padding: 10px 15px;

}

input[type='text'] {
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

input[type='submit'] {
    background-color: var(--color1);
    border-radius: 0 12px 12px 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.filter {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.filter a {
    border: 2px solid var(--color3);
    border-radius: 30px;
    padding: 10px 15px;
}

.filter a:hover {
    background-color: var(--color2);
}

.filter i {
    padding-right: 5px;
    color: var(--color1);
}

.fa-info {
    border: 1px solid var(--color3);
    border-radius: 50%;
    padding: 0.5em 0.8em;
    margin-right: 10px;
    color: var(--color1);
    font-size: 0.8em;
}