@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

:root {
    --color1: #0065FC;
    --color2: #DEEBFF;
    --color3: #D9D9D9;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1em;
}

/* Debut du Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0065FC; */
}

.logo-site {
    width: 100px;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

nav a {
    margin-right: 15px;
}

nav a:hover {
    border-top: 2px solid var(--color1);
}

/* Fin de stylisation du Header */
section h1 {
    font-size: 1.375em;
}

.search {
    display: inline-flex;
    border: 1px solid var(--color3);
    border-radius: 12px;

}

.search>* {
    padding: 10px;
    border: none;
}

.icon-map {
    background-color: var(--color3);
    border-radius: 12px 0 0 12px;
    padding: 10px 15px;

}

input[type='text'] {
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

input[type='submit'] {
    background-color: var(--color1);
    border-radius: 0 12px 12px 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.filter {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.filter a {
    border: 2px solid var(--color3);
    border-radius: 30px;
    padding: 10px 15px;
}

.filter a:hover {
    background-color: var(--color2);
}

.filter i {
    padding-right: 5px;
    color: var(--color1);
}

.fa-info {
    border: 1px solid var(--color3);
    border-radius: 50%;
    padding: 0.5em 0.8em;
    margin-right: 10px;
    color: var(--color1);
    font-size: 0.8em;
}

/* Fin de la section search-filter */
.list-hotel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.list-hotel h2 {
    margin: 0 0 20px 0;
}

.top-hotel {
    background-color: var(--color3);
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.card {
    border: 4px solid white;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.123);
    transition: 0.5s ease all;
}

.card:hover {
    transform: scale(0.95) rotate(10deg);
}

.card a {
    height: auto;
    padding: 0;
}

.card h3 {
    margin: 0;
}

.card img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.card-text {
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 15px;
}

.card i {
    color: var(--color3);
}

.popular,
.top-hotel {
    background-color: var(--color3);
    border-radius: 25px;
}

.title-bottom-hotel {
    margin-top: 30px;
    font-weight: 700;
    font-size: 1em;
}

.img-card img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.img-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: -5px;
}

.fa-star {
    color: var(--color3);
}

.star .fa-star:nth-child(1),
.star .fa-star:nth-child(2),
.star .fa-star:nth-child(3),
.star .fa-star:nth-child(4) {
    color: var(--color1);
}

/* Stylisation les plus populaires */
.popular {
    padding: 30px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.popular-title span {
    color: var(--color1);
}

.card-horizontal {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.123);
    margin-bottom: 40px;
    transition: 0.5s ease all;
}

.card-horizontal:hover {
    transform: scale(0.95) rotate(6deg);
}

.card-horizontal a {
    padding: 0;
    display: flex;
    height: auto;
}

.card-horizontal-img {
    width: 30%;
    height: auto;

}

.card-horizontal-img img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
    display: block;
}

.card-horizontal-text {
    padding: 0 15px;
}

.hotel-popular-name h3 {
    margin-bottom: 5px;
}

.hotel-popular-name p {
    margin-top: 5px;
}

.card-horizontal-text .star {
    margin-top: 40px;
}